{% extends './util/base.html' %}
{% block content %}
    <head>
        <title>회원가입</title>
    </head>
    <body class="design1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'signup' %}" accept-charset="utf-8" name="signup" method="post"> {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputEmail" class="col-md-6 col-form-label">이메일</label>
                        <div class="col-md-6">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                   placeholder="name@example.com" required name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNickname" class="col-md-6 col-form-label">닉네임</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="홍길동" required name="nickname">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="inputPassword" class="col-md-6 col-form-label">비밀번호</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="inputPassword"
                                   required name="password1" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">

                        <label for="inputPassword" class="col-md-6 col-form-label">비밀번호 확인</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="inputPassword"
                                   required name="password2" placeholder="Repeat Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">로그인</button>
                </form>
            </div>
        </div>

    </div>
    </body>
{% endblock %}