<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!-- Compiled and minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Local -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/public/stylesheets/main.css' %}">
    <script src="{% static '/public/scripts/main.js' %}"></script>
    <script src=".{% static '/public/scripts/main2.js' %}"></script>

    <!-- <link href="/public/stylesheets/main.css"> -->
    <!-- <script src="/public/scripts/main.js"></script> -->

</head>
<body >
    <div id="game-bg">
    <div id="blackboard-rod"></div>
    <div id="blackboard">
        <!-- <h3 id="cpu">끝말잇기</h3> -->
        <div id="speech-bubble">
        </div>
        
        <div id="record-box">
            <div id="record-box-in" class="left"></div>
            <div id="record-box-temp" class="right">
            </div>
        </div>

        <div id="game-main-cover">
            <form id="game-main" target="hiddenFrame">
                <input id="send-word" type="text" autocomplete="off" autofocus>
                <input class="display-none" type="submit" onclick="send()">
            </form>
        </div>
        <iframe name="hiddenFrame" width="0" height="0" style="display: none;"></iframe>


    </div>
    </div>



    <div id="meaning-box-cover">
        <div id="meaning-box-rod"></div>
        <div id="meaning-box">
            <h5>북한 말 뜻풀이</h5>
            <h6 class="width-full"><b></b></h6>
            <div></div>
        </div>
    </div>
<!---->
<div class="night-sky">
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	
	<div class="stars">
		<div></div><div></div><div></div>
	</div>
	
	<div class="stars">
		<div></div><div></div><div></div>
	</div>
	
	<div class="stars">
		<div></div><div></div><div></div>
	</div>
	
	<div class="stars">
		<div></div><div></div><div></div>
	</div>
	<div class="clouds">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	
	<div class="clouds">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class="moon">
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<div class="sea-horizon">
	<div class="sea-shine">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			
			<li></li>
			<li></li>
			
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

</body>