{% extends 'wordgame/../util/base.html' %}
{% block content %}
    <head>
        <title>메인</title>
    </head>
    <body class="design">
    <div class="container mt-5">
        <h1>잇다</h1>
        <br>
        {% if isLogin %}
            <div class="row justify-content-center">
                <div class="col-9 col-md-6">
                    <div class="card text-white bg-secondary">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                {{ user.username }}<br>
                            </div>
                            <div class="row justify-content-center">
                                전적 {{ user.win }}승 {{ user.lose }}패
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                </div>
                                <button onclick="location.href='{% url 'logout' %}'" class="btn btn-warning col-md-4">
                                    로그아웃
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-9 col-md-6 ">
                    <form action="{% url 'wordgameMain' %}" accept-charset="utf-8" name="login"
                          method="post"> {% csrf_token %}
                        <div class="form-group row">
                            <label for="UserName" class="col-md-4 col-form-label">유저 이름</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="홍길동" required name="username">
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="inputPassword" class="col-md-4 col-form-label">PIN번호</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" id="inputPassword"
                                       required name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-success col-md-5">로그인</button>
                            <div class="col-md-1"></div>
                            <input type="button" onclick="location.href='{% url 'signup' %}'"
                                   class="btn btn-warning col-md-5" value="회원가입">
                        </div>


                    </form>
                </div>
            </div>
        {% endif %}
        <br>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary col-9 col-md-6" data-toggle="modal"
                    data-target=".bd-example-modal-lg">게임 시작
            </button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="row justify-content-center">
                            <div class="col-6 ">
                                <h2 class="mb-2 mt-4">인공지능</h2>
                                <input type="button" onclick="location.href='{% url 'signup' %}'"
                                       class="btn btn-success col-10 mb-2 mt-2" value="쉬움">
                                <input type="button" onclick="location.href='{% url 'signup' %}'"
                                       class="btn btn-warning col-10 mb-2 mt-2" value="보통">
                                <input type="button" onclick="location.href='{% url 'signup' %}'"
                                       class="btn btn-danger col-10 mb-4 mt-2" value="어려움">
                            </div>
                            <div class="col-6">
                                <h2 class="mb-2 mt-4">멀티</h2>
                                <input type="button" onclick="location.href='{% url 'wordgameSearch' 'classic' %}'"
                                       class="btn btn-success col-10 mb-2 mt-2" value="클래식"
                                        {% if not isLogin %}
                                       disabled
                                        {% endif %}
                                >
                                <input type="button" onclick="location.href='{% url 'wordgameSearch' 'mission' %}'"
                                       class="btn btn-warning col-10 mb-2 mt-2" value="미션"
                                        {% if not isLogin %}
                                       disabled
                                        {% endif %}
                                >
                                <input type="button" onclick="location.href='{% url 'signup' %}'"
                                       class="btn btn-danger col-10 mb-4 mt-2" value="랭크(준비중)"
                                       disabled
                                >
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <br>

        <div class="row justify-content-center">
            <button type="button" class="btn btn-info col-9 col-md-6" data-toggle="modal"
                    data-target=".bd-example-modal-lg2">게임 설명
            </button>

            <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg2">
                    <div class="modal-content">

                        <div class="modal-body">

                            멀티 모드<br><br>

                            클래식 모드<br><br>

                            문화어 / 한국어 중에 선택하세요.<br>
                            낱말의 끝음절을 이어나가 끝까지 살아남으세요.<br>
                            각 분야 최고의 전문가가 되어보세요.<br><br>

                            미션 모드<br><br>

                            3개의 미션에서 하나를 배정받아요.<br>
                            미션에 성공하여, 승리를 쟁취하세요.<br><br>

                            1. 음절 모으기 모드<br><br>

                            미션 음절을 끝말로 이어라!!!<br><br>

                            2. 총합 모드 (多 / 少)<br><br>

                            제한된 턴 안에 음절 수를 많게 하여라!!! / 제한된 턴 안에 음절 수를 적게 하여라!!!<br><br>

                            3. 음절 금지 모드<br><br>

                            금지 음절을 피해, 끝말을 이어라!!!<br><br>

                            4. n번째 피하기 모드<br><br>

                            n번째 음절을 피해라!!!
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}