{% extends 'wordgame/../util/base.html' %}
{% block content %}

    <head>
        <title>메인</title>
        <script>
            window.onload = (e) => {
                const uuid = '{{ uuid }}';
                let chatSocket = new WebSocket(
                    'ws://' + window.location.host +
                    '/ws/');
                let mode = '';
                if ('{{ mode }}' === '클래식') {
                    mode = 'classic'
                }
                if ('{{ mode }}' === '미션') {
                    mode = 'mission'
                }

                chatSocket.onopen = (e) => {
                    chatSocket.send(JSON.stringify({
                        'query': 'get_rooms',
                        'type': 'query',
                        'callback': uuid,
                        'filter': mode
                    }));
                };

                chatSocket.onmessage = function (e) {
                    let data = JSON.parse(e.data);
                    if (data['type'] === 'room_created') {
                        let room = JSON.parse(data['result']);
                        if (room.fields.mode === '1' && mode === 'classic') {

                            let result_list = document.querySelector('#search_list')
                            result_list.innerHTML += '<div id=room_' + room.pk + ' class="card border-warning text-right col-9 col-md-6 m-2">\n' +
                                '                <div class="card-body">\n' +
                                '                    <h4 id=room_title_' + room.pk + ' class="card-title">' + room.fields.title + '</h4>\n' +
                                '                    <p id=room_now_people_' + room.pk + ' class="card-text">클래식-인원수 ' + room.fields.now_people + '/6</p>\n' +
                                '                    <a id=room_full_' + room.pk + ' href="/chat/' + room.pk + '" class="btn btn-success">입장</a>\n' +
                                '                </div>\n' +
                                '            </div>'

                        }
                        if (room.fields.mode === '2' && mode === 'mission') {
                            let result_list = document.querySelector('#search_list')
                            let howtowin = '';
                            switch (room.fields.how_to_win) {
                                case 2:
                                    howtowin = '음절을 모두 모면 이긴다!'
                                    break;
                                case 3:
                                    howtowin = '글자수 총합이 적으면 이긴다!'
                                    break;
                                case 4:
                                    howtowin = '금지어를 말하면 진다!'
                                    break;
                                case 5:
                                    howtowin = 'n번째 글자를 쓰면 이긴다!'
                                    break;
                                case 6:
                                    howtowin = '글자수 총합이 크면 이긴다!'
                                    break;
                            }
                            result_list.innerHTML += '<div id=room_' + room.pk + ' class="card border-warning text-right col-9 col-md-6 m-2">\n' +
                                '                <div class="card-body">\n' +
                                '                    <h4 id=room_title_' + room.pk + ' class="card-title">' + room.fields.title + '</h4>\n' +
                                '                    <p id=room_now_people_' + room.pk + ' class="card-text">' + howtowin + '-인원수 ' + room.fields.now_people + '/6</p>\n' +
                                '                    <a id=room_full_' + room.pk + ' href="/chat/' + room.pk + '" class="btn btn-success">입장</a>\n' +
                                '                </div>\n' +
                                '            </div>'

                        }

                    }
                    if (data['type'] === 'room_info_changed') {
                        Object.keys(data['result']).forEach((key) => {
                            if (key === 'now_people') {
                                document.querySelector('#room_now_people_' + data['room_id']).innerHTML = document.querySelector('#room_now_people_' + data['room_id']).innerHTML.split('-')[0] + '-인원수 ' + data['result']['now_people'] + '/6';
                            }
                            if (key === 'title') {
                                document.querySelector('#room_title_' + data['room_id']).innerHTML = data['result']['title'];
                            }
                            if (key === 'mode') {
                                document.querySelector('#room_now_people_' + data['room_id']).innerHTML = data['result']['mode'] + '-인원수 ' + document.querySelector('#room_now_people_' + data['room_id']).innerHTML.split('-')[1];
                            }
                            if (key === 'how_to_win') {
                                document.querySelector('#room_now_people_' + data['room_id']).innerHTML = data['result']['how_to_win'] + '-인원수 ' + document.querySelector('#room_now_people_' + data['room_id']).innerHTML.split('-')[1];
                            }
                        })

                    }
                    if (data['type'] === 'query') {
                        if (data['callback'] === uuid) {
                            if (mode === 'classic') {
                                let result = JSON.parse(data['result']);
                                let result_list = document.querySelector('#search_list')
                                result.forEach((room, index, array) => {
                                    result_list.innerHTML += '<div id=room_' + room.pk + ' class="card border-warning text-right col-9 col-md-6 m-2">\n' +
                                        '                <div class="card-body">\n' +
                                        '                    <h4 id=room_title_' + room.pk + ' class="card-title">' + room.fields.title + '</h4>\n' +
                                        '                    <p id=room_now_people_' + room.pk + ' class="card-text">클래식-인원수 ' + room.fields.now_people + '/6</p>\n' +
                                        '                    <a id=room_full_' + room.pk + ' href="/chat/' + room.pk + '" class="btn btn-success">입장</a>\n' +
                                        '                </div>\n' +
                                        '            </div>'
                                })
                            }
                            if (mode === 'mission') {
                                let result = JSON.parse(data['result']);
                                let result_list = document.querySelector('#search_list')
                                result.forEach((room, index, array) => {
                                    let howtowin = '';
                                    switch (room.fields.how_to_win) {
                                        case 2:
                                            howtowin = '음절을 모두 모면 이긴다!'
                                            break;
                                        case 3:
                                            howtowin = '글자수 총합이 적으면 이긴다!'
                                            break;
                                        case 4:
                                            howtowin = '금지어를 말하면 진다!'
                                            break;
                                        case 5:
                                            howtowin = 'n번째 글자를 쓰면 이긴다!'
                                            break;
                                        case 6:
                                            howtowin = '글자수 총합이 크면 이긴다!'
                                            break;
                                    }
                                    result_list.innerHTML += '<div id=room_' + room.pk + ' class="card border-warning text-right col-9 col-md-6 m-2">\n' +
                                        '                <div class="card-body">\n' +
                                        '                    <h4 id=room_title_' + room.pk + ' class="card-title">' + room.fields.title + '</h4>\n' +
                                        '                    <p id=room_now_people_' + room.pk + ' class="card-text">' + howtowin + '-인원수 ' + room.fields.now_people + '/6</p>\n' +
                                        '                    <a id=room_full_' + room.pk + ' href="/chat/' + room.pk + '" class="btn btn-success">입장</a>\n' +
                                        '                </div>\n' +
                                        '            </div>'
                                })
                            }

                        }
                    }
                };


                chatSocket.onclose = function (e) {
                    console.error('Chat socket closed unexpectedly');
                };
            }
        </script>
    </head>
    <body class="design">
    <div class="container mt-5">
        <h2>{{ mode }}</h2>
        <div class="row justify-content-center" id="search_list">
        </div>
        <a href="{% url 'wordgameMain' %}" class="btn btn-info col-9 col-md-6 m-2">돌아가기</a>
        <button type="button" class="btn btn-secondary col-9 col-md-6 m-2" data-toggle="modal" data-target="#addModal">
            방 추가하기
        </button>

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">방 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'makeRoom' %}" accept-charset="utf-8" name="login"
                          method="post"> {% csrf_token %}
                        <div class="modal-body">

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="방이름" name="title"
                                       aria-label="Username"
                                       aria-describedby="basic-addon1" required>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="mode" id="Radios1"
                                           value="1" checked
                                           onclick="document.querySelector('#select_howtowin').innerHTML=''">
                                    <label class="form-check-label" for="1">
                                        클래식 모드
                                    </label>
                                </div>
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="mode" id="Radios2"
                                           value="2" onclick='document.querySelector("#select_howtowin").innerHTML = "<h5>미션 선택</h5>\n"+
"                                    <div style=\"text-align:left;\">\n"+
"                                    <div class=\"form-check col-12\">\n"+
"                                        <input class=\"form-check-input\" type=\"radio\" name=\"how_to_win\" id=\"Radios2\"\n"+
"                                               value=\"2\">\n"+
"                                        <label class=\"form-check-label\" for=\"2\">\n"+
"                                            음절을 모두 모면 이긴다!\n"+
"                                        </label>\n"+
"                                    </div>\n"+
"                                    <div class=\"form-check col-12\">\n"+
"                                        <input class=\"form-check-input\" type=\"radio\" name=\"how_to_win\" id=\"Radios2\"\n"+
"                                               value=\"2\">\n"+
"                                        <label class=\"form-check-label\" for=\"3\">\n"+
"                                            글자수 총합이 적으면 이긴다!\n"+
"                                        </label>\n"+
"                                    </div>\n"+
"                                    <div class=\"form-check col-12\">\n"+
"                                        <input class=\"form-check-input\" type=\"radio\" name=\"how_to_win\" id=\"Radios2\"\n"+
"                                               value=\"2\">\n"+
"                                        <label class=\"form-check-label\" for=\"4\">\n"+
"                                            금지어를 말하면 진다!\n"+
"                                        </label>\n"+
"                                    </div>\n"+
"                                    <div class=\"form-check col-12\">\n"+
"                                        <input class=\"form-check-input\" type=\"radio\" name=\"how_to_win\" id=\"Radios2\"\n"+
"                                               value=\"2\">\n"+
"                                        <label class=\"form-check-label\" for=\"5\">\n"+
"                                            n번째 글자를 쓰면 이긴다!\n"+
"                                        </label>\n"+
"                                    </div>\n"+
"                                    <div class=\"form-check col-12\">\n"+
"                                        <input class=\"form-check-input\" type=\"radio\" name=\"how_to_win\" id=\"Radios2\"\n"+
"                                               value=\"2\">\n"+
"                                        <label class=\"form-check-label\" for=\"6\">\n"+
"                                            글자수 총합이 크면 이긴다!\n"+
"                                        </label>\n"+
"                                    </div>"+
"                                    </div>"'>
                                    <label class="form-check-label" for="2">
                                        미션 모드
                                    </label>
                                </div>
                                <div id="select_howtowin">

                                </div>
                                <div class="form-check col-9 mt-2">
                                    <input class="form-check-input" type="checkbox" value=True name="is_hide"
                                           id="is_hide">
                                    <label class="form-check-label" for="is_hide">
                                        숨겨진 방
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary">추가하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>

{% endblock %}