{% extends 'wordgame/../util/base.html' %}
{% block content %}

    <head>
        <title>메인</title>
    </head>
    <body class="design">
    <div class="container mt-5">
        <h2>{{ mode }}</h2>
        <div class="row justify-content-center">
            <div class="card border-warning text-right col-9 col-md-6 m-2">
                <div class="card-body">
                    <h4 class="card-title">방모드~~~</h4>
                    <p class="card-text">인원수~~</p>
                    <a href="#" class="btn btn-success">입장</a>
                </div>
            </div>
            <div class="card border-warning text-right col-9 col-md-6 m-2">
                <div class="card-body">
                    <h4 class="card-title">방모드~~~</h4>
                    <p class="card-text">인원수~~</p>
                    <a href="#" class="btn btn-success">입장</a>
                </div>
            </div>
            <div class="card border-warning text-right col-9 col-md-6 m-2">
                <div class="card-body">
                    <h4 class="card-title">방모드~~~</h4>
                    <p class="card-text">인원수~~</p>
                    <a href="#" class="btn btn-success">입장</a>
                </div>
            </div>
            <div class="card border-warning text-right col-9 col-md-6 m-2">
                <div class="card-body">
                    <h4 class="card-title">방모드~~~</h4>
                    <p class="card-text">인원수~~</p>
                    <a href="#" class="btn btn-success">입장</a>
                </div>
            </div>
        </div>
        <a href="{% url 'wordgameMain' %}" class="btn btn-info col-9 col-md-6 m-2">돌아가기</a>
    </div>
    </body>

{% endblock %}